.about{
    width: 100%;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.047);
}

.ab_container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.ab_title{
    font-size: 30px;
    font-weight: bold;
}

.ab_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.ab_item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
    width: 50%;
}

.ab_img{
    width: 350px;
    border-radius: 5px;
}

.ab_desc{
    font-weight: bold;
}

.ab_type{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: gray;
}

.ab_type_img{}

.ab_price{
    font-weight: bold;
}

.ab_sub_desc{
    width: 80%;
    font-size: 14px;
    color: gray;
}

.ab_cart{
    width: max-content;
    padding: 10px;
    background-color: #e4002b;
    border: none;
    border-radius: 20px;
    color: white;
    width: 130px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

/* ---- */

.ab_container2{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.ab_items2{
    display: flex;
    gap: 25px;
    width: 95%;
    flex-wrap: wrap;
}

.ab_item2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 60px;
    width: 31%;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 10px;
}

.ab_img2{
    width: 100%;
    border-radius: 5px;
}


.ab_desc2{
    font-weight: bold;
    padding: 0px 15px;
}

.ab_type2{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: gray;
    padding: 0px 15px;
}

.ab_type_img{}

.ab_price2{
    font-weight: bold;
    padding: 0px 15px;
}

.ab_sub_desc2{
    width: 80%;
    font-size: 14px;
    color: gray;
    padding: 0px 15px;
}

.ab_cart2{
    background-color: #e4002b;
    border: none;
    border-radius: 40px;
    color: white;
    width: 200px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: center;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 12px;
    cursor: pointer;
}